[submodule "exercise-files/exercise-1-2-once-upon-a-time"]
	path = exercise-files/exercise-1-2-once-upon-a-time
	url = git@github.com:btec-diploma-unit4-programming-master/exercise-1-2-once-upon-a-time.git
